html,
body {
  margin: 0;
  padding: 0;
}

/* CSS multiselector examplen */
h1,
h2,
h3,
h4,
h5,
h6 {
font-style: src='https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700';
}


/* general-information */

/* structure */

/* team */

/* schedule */

